<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Update application</title>
   
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <script src="/scripts/tracking.js" defer></script>
    <script src="https://kit.fontawesome.com/e9febd9a44.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="all-container">
        <!-- Include the nav bar partial -->
        <%- include('partials/nav', { primaryTab: 'join' }) %>

        <!-- Include the hero partial -->
        <%- include('partials/hero', {
            title: `Hey again, ${application.first_name}`,
            subtitle: 'You can update your responses here.',
            showIGButton: false,
        }) %>

        <div class="container-box body-container">
            <% if (error !== null) { %>
                <div id="error">
                    <%= error %>
                </div>
            <% } else { %>
                <div id="application-form-container">        
                    <form id="update-application-form" action="/update-application" method="POST">        
                        <div class="input-container">
                            <label for="time_prefs">
                                Do you have preferred days / times for our weekly sessions? Or dates when you're unavailable?
                            </label>
                            <label for="time_prefs" class="sublabel">
                                Note that the program runs for 4 weeks (and may be extended if rain cancels our sessions).
                                You'd have so much fun you wouldn't want to miss any sessions!
                            </label>
                            <textarea id="time_prefs" name="time_prefs" placeholder="eg Tues / Thurs / Fri 8-10pm, unavailable 18-25 Nov"><%= application.time_prefs || '' %></textarea>
                        </div>
            
                        <div class="input-container">
                            <label for="personality_notes">
                                Can you tell us a bit more about your personality, and also what you're looking for in a potential partner?
                            </label>
                            <label for="personality_notes" class="sublabel">
                                For example, what's your MBTI type? What makes your heart skip a beat? :)
                                This will help us design the best group for you!
                            </label>
                            <textarea id="personality_notes" name="personality_notes"><%= application.personality_notes || '' %></textarea>
                        </div>
            
                        <div class="input-container">
                            <label for="misc_notes">Anything else you'd like us to know?</label>
                            <label for="misc_notes" class="sublabel">For example, do you have other fun hobbies, personal interests,
                                or fancy skills? :) Or perhaps, any allergies or discomforts?
                            </label>
                            <textarea id="misc_notes" name="misc_notes"><%= application.misc_notes || '' %></textarea>
                        </div>

                        <input type="hidden" name="application_id" id="application_id" value="<%= application.id %>">
            
                        <button type="submit" class="cta-btn form-btn">Update</button>
                    </form>
                </div>
            <% } %>
        </div>

        <!-- Include the footer partial -->
        <%- include('partials/footer') %>
    </div>
</body>
</html>
